{{#partial "title"}}공지사항{{/partial}}
{{#partial "content"}}
	<div class="page-content" ng-app="myApp" ng-controller="AppController as ctrl">
		<div class="page-header">
			<h1>{{projectName}} {{message "menu.dashboard" default="공지사항"}}</h1>
		</div>
		<!-- /.page-header -->

		<div class="row">
            <div class="modal-header no-padding">
                <div class="table-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        <span class="white">&times;</span>
                    </button>
                    Results for "Latest Registered Domains
                </div>
            </div>
            <!-- div.dataTables_borderWrap -->
            <div>
                <table id="dynamic-table" class="table table-striped table-bordered table-hover">
                    <thead>
                    <tr>
                        <th class="center">
                            <label class="pos-rel">
                                <input type="checkbox" class="ace" />
                                <span class="lbl"></span>
                            </label>
                        </th>
                        <th width="40%">제목</th>
                        <th>작성자</th>
                        <th class="hidden-480">조회수</th>
                        <th><i class="ace-icon fa fa-clock-o bigger-110 hidden-480"></i>작성일</th>
                        <th class="hidden-480">Status</th>
                        <th></th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr ng-class="ctrl.getEmptyDataClass()"><td colspan="7" class="center">데이터가 없습니다.</td></tr>
                    <tr ng-repeat="board in ctrl.boards">
                        <td class="center">
                            <label class="pos-rel">
                                <input type="checkbox" class="ace" />
                                <span class="lbl"></span>
                            </label>
                        </td>

                        <td>
                            <span ng-bind="board.title"></span>
                        </td>
                        <td><span ng-bind="board.createdBy"></span></td>
                        <td class="hidden-480"><span ng-bind="board.viewCount"></span></td>
                        <td><span ng-bind="board.createdAt | date:'yyyy/MM/dd hh:mm:ss'"></span></td>

                        <td class="hidden-480">
                            <span class="label label-sm label-warning">Expiring</span>
                        </td>

                        <td>
                            <div class="hidden-sm hidden-xs action-buttons">
                                <a class="blue" href="#">
                                    <i class="ace-icon fa fa-search-plus bigger-130"></i>
                                </a>

                                <a class="green" href="#">
                                    <i class="ace-icon fa fa-pencil bigger-130"></i>
                                </a>

                                <a class="red" href="#">
                                    <i class="ace-icon fa fa-trash-o bigger-130"></i>
                                </a>
                            </div>

                            <div class="hidden-md hidden-lg">
                                <div class="inline pos-rel">
                                    <button class="btn btn-minier btn-yellow dropdown-toggle" data-toggle="dropdown" data-position="auto">
                                        <i class="ace-icon fa fa-caret-down icon-only bigger-120"></i>
                                    </button>

                                    <ul class="dropdown-menu dropdown-only-icon dropdown-yellow dropdown-menu-right dropdown-caret dropdown-close">
                                        <li>
                                            <a href="#" class="tooltip-info" data-rel="tooltip" title="View">
																				<span class="blue">
																					<i class="ace-icon fa fa-search-plus bigger-120"></i>
																				</span>
                                            </a>
                                        </li>

                                        <li>
                                            <a href="#" class="tooltip-success" data-rel="tooltip" title="Edit">
																				<span class="green">
																					<i class="ace-icon fa fa-pencil-square-o bigger-120"></i>
																				</span>
                                            </a>
                                        </li>

                                        <li>
                                            <a href="#" class="tooltip-error" data-rel="tooltip" title="Delete">
																				<span class="red">
																					<i class="ace-icon fa fa-trash-o bigger-120"></i>
																				</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div>
                page : <span ng-bind="ctrl.main.page">page</span>
                , size : <span ng-bind="ctrl.main.size">size</span>
                , totalPages : <span ng-bind="ctrl.main.totalPages">totalPages</span>
                , totalElements : <span ng-bind="ctrl.main.totalElements">totalElements</span>
            </div>
            <!--<div>
                <button type="button" ng-click="ctrl.previousPage()" class="btn btn-success custom-width" ng-disabled="ctrl.main.firstPage">이전</button>
                <button type="button" ng-click="ctrl.nextPage()" class="btn btn-success custom-width" ng-disabled="ctrl.main.lastPage">다음</button>
            </div>-->
            <div class="modal-footer no-margin-top">
                <button class="btn btn-sm btn-danger pull-left" data-dismiss="modal">
                    <i class="ace-icon fa fa-times"></i>
                    Close
                </button>

                <ul class="pagination pull-right no-margin">
                    <!--<li class="prev disabled" ng-click="ctrl.previousPage()">-->
                    <li ng-class="ctrl.getPreviousPageChunkClass()" ng-click="ctrl.previousPageChunk()">
                        <a href="#">
                            <i class="ace-icon fa fa-angle-double-left"></i>
                        </a>
                    </li>

                    <li ng-class="ctrl.getPreviousPageClass()" ng-click="ctrl.previousPage()">
                        <a href="#">이전</a>
                    </li>

                    <li ng-class="ctrl.getPageBtnClass(n)" ng-repeat="n in ctrl.pageBtnArray" ng-click="ctrl.movePage(n)">
                        <a href="#" ng-bind="n" ></a>
                    </li>

                    <li ng-class="ctrl.getNextPageClass()" ng-click="ctrl.nextPage()">
                        <a href="#">다음</a>
                    </li>

                    <li ng-class="ctrl.getNextPageChunkClass()" ng-click="ctrl.nextPageChunk()">
                        <a href="#">
                            <i class="ace-icon fa fa-angle-double-right"></i>
                        </a>
                    </li>
                </ul>
            </div>
		</div>
	</div>
{{/partial}}
{{#partial "page_script"}}
    <script src="/js/app.js"></script>
    <script src="/js/board/notice_controller.js"></script>
    <script src="/js/board/notice_service.js"></script>
	<script type="text/javascript">
		/*$(document).ready(function () {
		});*/
	</script>
{{/partial}}

{{>layout/layout}}