<div class="footer">
	<div class="footer-inner">
		<div class="footer-content">
                <span class="">
                    <span class="blue bolder">HOON - babybong</span>&nbsp;&nbsp;
					{{projectName}} &copy; 2015
                </span>
		</div>
	</div>
</div>
<a class="btn-scroll-up btn btn-sm btn-inverse display" id="btn-scroll-up" href="#">
	<i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
</a>